$mainColor: #009688;
.whiteColor {
    color: #FFF!important;
}
.v-btn {
    letter-spacing: 0!important;
}
.padding-top-bottom-0 {
    padding-top:0!important;
    padding-bottom: 0!important;
}
.margin-side-5 {
    margin-left: 5px;
    margin-right: 5px;
}
.no-shadow {
    box-shadow: none!important;
}
.f0f0f0 {
    background-color: #f0f0f0;
}
.default {
    .logo {
        img {
            width:80px;
            padding-bottom: 10px;
        }

    }
    .logo::before {
        background-color:transparent;

    }
    .v-list {
        text-align: center;
        button {
            color: #FFF;
        }
    }
    .v-item-group {
        text-align: left;
    }
}


//profile
.profile {
    .avatar-container {
        text-align: center;
    }
    .mainLoading {
        margin: auto;
    }
}
.v-expansion-panel-header::before {
    background-color: $mainColor!important
}
.v-application--is-ltr .v-expansion-panel-header {
    font-size: 20px;

    p {
        margin:0
    }
    .present{
        font-size: 30px;
    }
}
header {
    max-height: 55px;
}
.answers {
    .v-application--is-ltr .v-expansion-panel-header {
       display: none;
    }
    .single-answer-of {
        
       p {
        padding-top: 5px;
           font-size: 16px;
            margin-bottom: 0;
        }
    }
    .cancel {
        .v-application--is-ltr .v-expansion-panel-header {
            display: none;
        }
    }
    .v-list-item__subtitle {
        border-bottom: 1px solid #f0f0f0;
       
        &:last-child {
            border:none
        }
    }
    .v-card__actions {
        .present {
            margin:auto;
            font-size: 28px;
        }
    }
    .headline {
        .name {
            margin-left: 36px;
        }
    }
}
.theme--light.v-card > .v-card__text, .theme--light.v-card .v-card__subtitle {
    padding-top: 0;
}
.bio {
    .emoji-pi.containercker-container {
        margin: 10px auto;
    }
    .emoji-picker-container {
        margin: 10px auto;
    }
    .emoji-wysiwyg-editor {
        width:250px!important;
    }
    i.emoji-picker-icon.emoji-picker {
        left:10px
    }
}
.height100 {
    height: 100% !important;
}
.home-btn-container {
    display: flex;
    align-items: center;
    height: 100%;
    h1 {
        color: #666!important;
        margin-bottom: 20px;
    }
    a {
        min-width: 200px!important;
   
    }
}
@media only screen and (max-width: 600px) {
    .container {
        padding:0;
    }
    .container {
        padding:0!important
    }
    .v-application .mb-4 {
        padding-top: 20px;
    }
    .col-12 {
        padding:0!important;
    }
    .v-card > :last-child:not(.v-btn):not(.v-chip) {
        padding:0
    }
}